
<footer id="footer" class="footer-1">
    <div class="main-footer widgets-light typo-dark bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">SAMIROOM<span></span></h5>
                        <p>All the good places to live in.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="/">Home</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/privacy">Privacy Policy</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/terms">Terms Of Use</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/contactus">Contact Us</a></div>	
                            </li>
                        </ul>
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Get Started<span></span></h5>
                        <p>Get easy access to your full Benefits.  Find a place to live or publish yours.</p>
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                            <p><a href="mailto:samiroomgroup3@gmail.com" title="glorythemes">samiroomgroup3@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright Samiroom © 2020. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
</footer>

<script>
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>