
<footer id="footer" class="footer-1">
    <div class="main-footer widgets-light typo-dark bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">SAMIROOM<span></span></h5>
                        <p>All the good places to live in.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="/">Home</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/privacy">Privacy Policy</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/terms">Terms Of Use</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/contactus">Contact Us</a></div>	
                            </li>
                        </ul>
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Get Started<span></span></h5>
                        <p>Get easy access to your full Benefits.  Find a place to live or publish yours.</p>
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                            <p><a href="mailto:samiroomgroup3@gmail.com" title="glorythemes">samiroomgroup3@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright Samiroom © 2020. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
</footer>

</html>
