<%- include("partials/header") %>

<div class="container">
    <div class="text-center">
        <h1 style=" font-size: 400%">Thank you</h1>
    </div>   

<hr>

    <div class="text-center" style="height: 300px;">
      <p style=" font-size: 150%"></p>
      <a href="/"> <button type="button" class="btn btn-success">  Back to Homepage </button></a>
    </div>  
</div>






<%- include("partials/footer") %>