 <%- include("partials/header") %>

<div class="container">
    <div class="text-center">
        <h1 style=" font-size: 400%">something wrong</h1>
    </div>   

<hr>

    <div class="text-center" style="height: 300px;">
      <p style=" font-size: 150%">You dont have the right access, please login first</p>
      <button type="button" onclick="javascript:history.back()" class="btn btn-success">back</button>
    </div>
</div>




<%- include("partials/footer") %>
