<!DOCTYPE html>
<html>
<head>
    <title>site</title>

</head>
<body>
    <h1>Hello
        if (feature.webGL) {
            console.log("WebGL supported");
          } else {
            console.log("WebGL not supported");
          }
    </h1>
</body>
</html>