<%- include('partials/header_ApartmentOwner') %>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body onload="loading()">
<div class="container mt-5"> 
    <% if(typeof id !== 'undefined' && typeof fullName !== 'undefined'){%>
              <h3>Upload a rental housing unit </h3><br>
              <form action="/uploadUnit" method="POST" enctype="multipart/form-data">
                <input type="hidden"  name="ownerId" id="ownerId" value="<%=id%>" >
                <input type="hidden"  name="fullName" id="fullName" value="<%=fullName%>" >
                <div class="form-group">
                    <label for="city" ><b>City</b></label>
                    <select class="form-control" id="city" name="city" required>
                        <option value="Ashdod">Ashdod</option>
                        <option value="Beer Sheva">Beer Sheva</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="address"><b>Address</b></label>
                    <input type="text" class="form-control" name="address" id="address" required>
                </div>
                <div class="form-group">
                    <label for="pricePerMonth"><b>Price per month</b></label>
                    <input pattern="([1-9]+[0-9]*)*" type="text" class="form-control" name="pricePerMonth" id ="pricePerMonth" required>
                </div>
                <div class="form-group">
                    <label for="numberOfRooms"><b>Number of rooms:</b></label>
                    <select class="form-control" id="numberOfRooms" name="numberOfRooms" required>
                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="2.5">2.5</option>
                        <option value="3">3</option>
                        <option value="3.5">3.5</option>
                        <option value="4">4</option>
                        <option value="4.5">4.5</option>
                        <option value="5">5</option>
                        <option value="5.5">5.5</option>
                        <option value="6">6</option>
                      </select>
                </div>
                      <div class="form-group">
                      <label for="unitTypes"><b>Unit types</b></label>
                      <select class="form-control" id="unitTypes" name="unitTypes" required>
                          <option value="villa">Villa</option>
                          <option value="loft">Loft</option>
                          <option value="apartment">Apartment</option>
                          <option value="basement">Basement</option>
                      </select>
                      </div>
                      <div class="form-group">
                      <label for="="minRentalPeriod ><b>Minmum rental period (months)</b><small style="color:red">&nbsp&nbspThe default is 12 month</small></label>
                      <input class="form-control"  onchange="checkMinMax()" type="number" value="12" name="minRentalPeriod" id="minRentalPeriod" min=1 max=36>
                      </div>
                      <div class="form-group">
                      <label for="="maxRentalPeriod ><b>Maxmum rental period (months)</b><small style="color:red">&nbsp&nbspThe default is 36 months</small></label>
                      <input type="number" onchange="checkMinMax()" class="form-control" value="36" name="maxRentalPeriod" id="maxRentalPeriod" min=1 max=36>
                      </div>
                      <div class="file-field input-field">
                          <div class="btn">
                              <span>Upload images</span>
                              <label for= "uploadImage"><small style="color:red">&nbsp&nbspYou can upload maximun 4 images!</small></label>
                              <input id="uploadImage" name="uploadImage" type="file" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload one or more images">
                            </div>
                        </div>
                      <div class="form-group">
                      <label for="descriptionUnit"><b>Description</b></label>
                      <textarea class="form-control" name="descriptionUnit" id="descriptionUnit" rows="5" cols="50"></textarea>
                      </div>
                      <button type="submit" class="btn btn-dark">Upload</button>
              </form>
          </div>
     </body>
<%} %>
<script>
    // for error 
    function loading()
    {
        "<% if(typeof msg !== 'undefined'){ %>"
        alert("Sorry something wrong\nPlease try again");
        "<% } %>"
    }
    // for check if not min > max 
    function checkMinMax()
    {
        var min = parseInt(document.getElementById("minRentalPeriod").value);
        var max = parseInt(document.getElementById("maxRentalPeriod").value);
        
        if(!isNaN(min) && !isNaN(max)){
            if(max < min){
                alert("Sorry max rental period cann't be less from min rental period!")
                document.getElementById("minRentalPeriod").value = "12";
                document.getElementById("maxRentalPeriod").value = "36";
            }
        }
        else if(!isNaN(min) && isNaN(max)){
            alert("Sorry max rental period cann't be empty if min rental period not empty!")
                document.getElementById("minRentalPeriod").value = "12";
                document.getElementById("maxRentalPeriod").value = "36";
        } 
    }
</script>

<%- include("partials/footer") %>