
.logo {
   width: 100px;
   height: 80px;
}

label {
    margin-bottom: 0rem;
}



.bg-light {
    background-color: #bdbebe;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.75rem;
}

#jumbo{
    background-image: url("../imgs/nycbg.jpg");
}

.card {
    background-color: transparent;
    border: none;
}

.form-control{
    width:50%;
} 

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

h5 {
    margin-bottom: 1rem;
}

.jumbotron {
    padding: 2rem 1rem;
}

